* {
   padding: 0;
   margin: 0;
   box-sizing: 0;
}

html, body {
   height: 100vh;
}

#root {
   height: 100%;
   overflow: scroll;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}